# # REVIEW QUESTIONS 1

In [74]:
def cube(number):
    return number ** 3
    
print(f"Result: ")
print(cube(2))  
print(cube(4))  
print(cube(6)) 
print(cube(8))
print(cube(10))

Result:
8
64
216
512
1000

In [75]:
def greet (name):
    print(f"Result: ")
    print (f"Hello, {name}!")

greet("Kaycee")

Result:
Hello, Kaycee!

# CHALLENGE : CONVERT TEMPERATURE

In [76]:
def convert_cel_to_far(celsius):
    return (celsius * 9/5) + 32

In [77]:
def convert_far_to_cel(fahrenheit):
    return (fahrenheit - 32) * 5/9

In [79]:
print(f"Result: ")
temp_f = float(input("Enter a temperature in degrees F: "))
temp_c = convert_far_to_cel(temp_f)
print(f"{temp_f} degrees F = {temp_c:.2f} degrees C\n")

temp_c2 = float(input("Enter a temperature in degrees C: "))
temp_f2 = convert_cel_to_far(temp_c2)
print(f"{temp_c2} degrees C = {temp_f2:.2f} degrees F")

Result:

Enter a temperature in degrees F:  72

72.0 degrees F = 22.22 degrees C

Enter a temperature in degrees C:  37

37.0 degrees C = 98.60 degrees F

# REVIEW QUESTIONS 2

In [80]:
print(f"Result: ")

for n in range (2, 11):
    print(n)

Result:
2
3
4
5
6
7
8
9
10

In [81]:
num = 2
print(f"Result: ")
while num <= 10:
    print(num)
    num += 1

Result:
2
3
4
5
6
7
8
9
10

In [82]:
def doubles(num):
    return num * 2
print(f"Result: ")

value = 2
for _ in range(3):
    value = doubles(value)
    print(value)

Result:
4
8
16