# REVIEW EXERCISES 1

In [1]:
Cardinal_Numbers = ("FIRST", "SECOND", "THIRD")
print(Cardinal_Numbers)

('FIRST', 'SECOND', 'THIRD')

In [2]:
print(Cardinal_Numbers[1])

SECOND

In [3]:
position1, position2, position3 = Cardinal_Numbers
print(position1)
print(position2)
print(position3)

FIRST
SECOND
THIRD

In [4]:
My_name = tuple("Kaycee")
print(My_name)

('K', 'a', 'y', 'c', 'e', 'e')

In [5]:
print("x" in My_name)

False

In [6]:
First_Letter_in_My_Name = tuple(My_name[1::])
print(First_Letter_in_My_Name)

('a', 'y', 'c', 'e', 'e')

# REVIEW EXERCISES 2

In [7]:
Food = ["RICE","BEANS"]

In [8]:
Food.append("BROCOLLI")

In [9]:
Food.extend(["BREAD", "PIZZA"])

In [10]:
print(Food[0:2])

['RICE', 'BEANS']

In [11]:
print(Food[len(Food)-1])

PIZZA

In [14]:
string_food = "EGGS, FRUIT, ORANGE JUICE"
Breakfast = string_food.split(", ")
print(Breakfast)

['EGGS', 'FRUIT', 'ORANGE JUICE']

In [15]:
print(len(Breakfast))

3

In [16]:
Lengths = [len(value) for value in Breakfast]
print(Lengths)

[4, 5, 12]

# REVIEW EXERCISES 3

In [18]:
data = ((1,2),(3,4))

In [19]:
for n in range(len(data)):
    sum=0
    for value in data[n]:
        sum += value
    print(f"Row = {n+1} sum = {sum}")

Row = 1 sum = 3
Row = 2 sum = 7

In [20]:
num_list = [2,3,4,9,1,7]
numbers = num_list[:]
print(numbers)

[2, 3, 4, 9, 1, 7]

In [21]:
num_list.sort()
print(num_list)

[1, 2, 3, 4, 7, 9]

# CHALLENGE: LIST OF LISTS

In [25]:
universities = [
                ['California Institute of Technology', 2175, 37704],
                ['Harvard', 19627, 39849],
                ['Massachusetts Institute of Technology', 10566, 40732],
                ['Princeton', 7802, 37000],
                ['Rice', 5879, 35551],
                ['Stanford', 19535, 40569],
                ['Yale', 11701, 40500]
]

print(universities)

[['California Institute of Technology', 2175, 37704], ['Harvard', 19627, 39849], ['Massachusetts Institute of Technology', 10566, 40732], ['Princeton', 7802, 37000], ['Rice', 5879, 35551], ['Stanford', 19535, 40569], ['Yale', 11701, 40500]]

# CHALLENGE: WAX POETIC

In [26]:
NOUNS = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO","EXTROVERT", "GORILLA"]
VERBS = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
ADJECTIVES = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
PREPOSITIONS = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
ADVERBS = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY" "EXTRAVAGANTLY", "TANTALIZINLY"]

print(NOUNS)
print(VERBS)
print(ADJECTIVES)
print(PREPOSITIONS)
print(ADVERBS)

['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLYEXTRAVAGANTLY', 'TANTALIZINLY']

# REVIEW EXERCISES 4

In [27]:
captains = {}

In [28]:
captains = {}
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisco"

for n in captains:
        print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'

In [29]:
if not ("Enterprise" in captains): captains["Eterprise"] = "Unknown"
if not ("Discovery" in captains): captains["Discovery"] = "Unknwon"

for n in captains:
        print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'
'Discovery' : 'Unknwon'

In [30]:
for n in captains:
        print(f"The {n} is captained by {captains[n]}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisco.
The Discovery is captained by Unknwon.

In [31]:
del captains["Discovery"]
for n in captains: print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'

In [32]:
key_pairs = (("Enterprise", "Picard"),
             ("Voyager", "Janeway"),
             ("Defiant", "Sisco")
            )
captains_new = dict(key_pairs)
for n in captains_new: print(f"'{n}' : '{captains_new[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'

# CHALLENGE: CAPITAL CITY LOOP

In [34]:
capitals_dict={
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
     'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}

for n in capitals_dict: 
    print(f"'{n}' : '{capitals_dict[n]}'")

'Alabama' : 'Montgomery'
'Alaska' : 'Juneau'
'Arizona' : 'Phoenix'
'Arkansas' : 'Little Rock'
'California' : 'Sacramento'
'Colorado' : 'Denver'
'Connecticut' : 'Hartford'
'Delaware' : 'Dover'
'Florida' : 'Tallahassee'
'Georgia' : 'Atlanta'